@import "tailwindcss";

@font-face {
  font-family: SherlyKitchen;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../../public/fonts/SherlyKitchen.ttf") format("truetype");
}

@theme {
  --font-kitchen: "SherlyKitchen", "sans-serif";
}